@model List<LibWEB.ViewModel.BookViewModel>
@{
    ViewData["Title"] = "Главная";
}

<form method="get" asp-action="Search" class="mb-4">
    <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="Введите название книги" />
        <select name="ageRestriction" class="form-select">
            <option value="">Выберите возрастное ограничение</option>
            <option value="0">0+</option>
            <option value="6">6+</option>
            <option value="12">12+</option>
            <option value="16">16+</option>
            <option value="18">18+</option>
        </select>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>



@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @book.Title (@book.AgeRestriction+)
                                        @if (User.IsInRole("библиотекарь"))
                                        {
                                            <a class="text-white float-right" asp-action="Update" asp-route-id="@book.Id">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        }
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@Url.Content($"~/images/{book.ImageId}")" alt="@book.Title" height=300px />
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Автор(ы): </b>
                                    @if (book.SelectedAuthors != null)
                                    {
                                        foreach (var author in book.SelectedAuthors)
                                        {
                                            <text>@author.Name @author.Patronymic @author.Surname</text>
                                            if (!ReferenceEquals(author, book.SelectedAuthors.Last()))
                                            {
                                                <text>, </text>
                                            }
                                        }
                                    }
                                </p>
                                <p class="card-text">
                                    <b>Жанры: </b>
                                    @if (book.SelectedGenres != null)
                                    {
                                        @string.Join(", ", book.SelectedGenres)
                                    }
                                </p>
                                <p class="card-text"><b>В наличии: </b>@book.Numbers</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    @if (User.IsInRole("библиотекарь"))
                                       {
                                        <a class="btn btn-primary text-white" asp-controller="Givings" asp-action="Create" asp-route-bookId="@book.Id"
                                        disabled="@(book.Numbers <= 0 ? "disabled" : null)">
                                        Выдать
                                        </a> 
                                    }
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@book.Id">
                                        <i class="bi bi-eye-fill"></i> Подробнее...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Нет доступных книг</p>
}

